*, *::after, *::before {box-sizing: border-box;
                        font-family:Arial, Helvetica, sans-serif;}
body{
    display: flex;
    justify-content: center;}
img{width: 30px;
    vertical-align: middle;}
form{max-width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 7%;
}
.container{display: flex;}
#username{width: 26vw;    
    height: 25px;
    border-left: none;
    border-right: none;
    border-top: none;;
    padding-left: 5%;}
#email{
    width: 26vw;
    height: 25px;
    border-left: none;
    border-right: none;
    border-top: none;;
    padding-left: 5%;}
#password{
    width: 12vw;
    height: 25px;
    border-left: none;
    border-right: none;
    border-top: none;;
    padding-left: 5%;
    margin-right: 1vw;}
#Confirm_password{
    width: 12vw;
    height: 25px;
    border-left: none;
    border-right: none;
    border-top: none;;
    padding-left: 5%;
    margin-left: 1vw;}
.password, .name, .sex_date{display: inline-flex;
                            width: 100%;
                            padding: 5px;}
.sto{width: 100%;
    padding: 5px;
    display: flex;}
    .pas1{display: flex;}
#first_name{
    width: 13vw;
    height: 25px;
    border-left: none;
    border-right: none;
    border-top: none;;
    padding-left: 5%;
    margin-right: 1vw;}
#last_name{
    width: 13vw;
    height: 25px;
    border-left: none;
    border-right: none;
    border-top: none;;
    padding-left: 5%;
    margin-left: 1vw;}
#name{
    width: 13vw;
    height: 25px;
    border-left: none;
    border-right: none;
    border-top: none;;
    padding-left: 5%;
    margin-right: 1vw;}
#date{
    width: 13vw;
    height: 25px;
    border-left: none;
    border-right: none;
    border-top: none;;
    padding-left: 5%;
    margin-left: 1vw;}
#submit{background-color: aqua;
        box-shadow: black 3px;
        border: none;
        border-radius: 3px;
        }
hr{width: 58vw;}
.Registration_form, .Personal_details{padding: 10px;}


@media(max-width: 900px){
    #username{width: 48vw;}
    #email{width: 48vw;}
    #password{width: 23vw;
        margin-right: 1vw;}
    #Confirm_password{
        width: 23vw;        
        margin-left: 1vw;}
    #first_name{
        width: 24.5vw;
        margin-right: 1vw;}
    #last_name{
        width: 24.5vw;
        margin-left: 1vw;}
    #name{
        width: 24.5vw;
        margin-right: 1vw;}
    #date{
        width: 24.5vw;
        margin-left: 1vw;}
    .container{display: block;}
    hr{width: 52vw;}
                        }
@media(max-width: 600px){
    .password, .name, .sex_date{display: block;}
    #password{width: 48vw;}
    #Confirm_password{width: 52vw;}
    #first_name{width: 52vw;}
    #last_name{width: 52vw;
                margin-left: 0;}
    #name{width: 52vw;}
    #date{width: 52vw;
        margin-left: 0;}}

